<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=q, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- url遷移を行う -->
    <button onclick="toMultiplayer"></button>
    <a href="./multiplayer.html">マルチプレイへ</a>
    <script>
        function toMultiplayer(){
            let url = "https://" + location.hostname + "/multiplayer"
            window.location.href = url;
        }
    </script>
</body>
</html>